WebPageToAtomFeed.properties

# Properties #
src/main/resources/WebPageToAtomFeed.properties

# IDE #
.idea/
.classpath
.project
*.iml

# Output #
bin/
test-output/
target/
*.class
*.atom.xml
*.log

# Package Files #
*.jar
*.war
*.ear
